<div class="p-grid p-fluid courses-container">
  <div class="p-col-12">
    <p-breadcrumb [model]="items" styleClass="breadcrumb"></p-breadcrumb>
  </div>
  <div class="p-col-3">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" [(ngModel)]="searchParam" pInputText />
    </span>
  </div>
  <div class="p-col-1">
    <p-button label="Поиск" (click)="onSearch()"></p-button>
  </div>
  <div class="p-col-6"></div>
  <div class="p-col-2">
    <p-button
      icon="pi pi-plus"
      label="Добавить курс"
      (click)="onSearch()"
    ></p-button>
  </div>
  <ng-container *ngFor="let course of courses" style="gap: 1rem">
    <div class="p-col-12">
      <app-courses-item
        [course]="course"
        (delete)="onDelete($event)"
        (change)="onChange($event)"
      ></app-courses-item>
    </div>
  </ng-container>
  <div class="p-col-12 p-d-flex p-jc-center p-mb-4">
    <div style="width: 25rem">
      <p-button
        label="Загрузить ещё"
        styleClass="p-button p-button-secondary p-button-outlined"
      ></p-button>
    </div>
  </div>
</div>
