.courses-container {
  padding: 1rem 3.5rem;
}
.cursor-pointer {
  color: red;
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  &_text {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
::ng-deep .breadcrumb.p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.5rem;
}
::ng-deep .dialog.p-dialog {
  width: 40rem;
}
