<div class="header-container">
  <div class="header-container_logo">
    <app-logo></app-logo>
  </div>
  <div class="header-container_actions" *ngIf="isAuth">
    <div class="header-container_actions_item">
      <p-button
        icon="pi pi-user"
        label="Никита Удзумаков"
        styleClass="p-button-sm p-button-secondary p-button-text header-btn"
      ></p-button>
    </div>
    <div class="header-container_actions_item">
      <p-button
        icon="pi pi-sign-out"
        label="Выход"
        (click)="onLogout(); logout.emit()"
        styleClass="p-button-sm p-button-secondary p-button-text header-btn"
      ></p-button>
    </div>
  </div>
</div>
